.art-title
{
    font-family: 'Playfair Display', serif;
}

.comment-text
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.main-pad
{
    padding-top: 150px;
}

.delete-button
{
    margin-left: 20px;
}